<div class="container-app col-12 d-flex flex-column">
  <div class="header" style="height: 103px; background-color: rgba(13, 13, 13, 0.85) !important;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(13, 13, 13, 0.85) !important;">
      <div class="container-fluid container">
        <a class="navbar-brand fs-1" href="#">Fgarciadevelop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse = !collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="flex-grow: unset !important;" [ngClass]="collapse ? '' : 'd-flex justify-content-end'">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#">Sobre mi</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#">Skills</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#">Proyectos</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#">Contactos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="col-12 d-flex flex-column content">
    
    <section>
      Principal
    </section>
    <section class="container d-flex flex-column align-items-center justify-content-center">
      <div class="fragmento my-5">
        <div class="title fs-1 fw-bold text-center my-5">¿Quién soy?</div>
        <p class="fs-4 my-5">Desarrollador Front End con capacidad de realizar proyectos reales en el entorno de React, NodeJS y Express, teniendo siempre en mente que sean escalables y modulares, para así poder lograr proyectos de calidad.</p>
      </div>
      <div class="fragmento my-5">
        <div class="title fs-1 fw-bold text-center my-5">¿Por qué yo?</div>
        <p class="fs-4 my-5">Soy un desarrollador con solidos conocimientos técnicos y 1 año de experiencia además de ser autodidacta que le gusta seguir aprendiendo de los demás y también me gusta compartir mis conocimientos e interactuar con la comunidad.</p>
      </div>
      <div class="buttons col-12 d-flex flex-row justify-content-around">
        <button class="btn-1">Descargar CV</button>
        <button class="btn-2">Contáctame</button>
      </div>
    </section>
    <section>
      Skills
    </section>
    <section>
      Proyectos
    </section>
    <section>
      Contactos
    </section>
    
  </div>

</div>