<div class="container-app col-12 d-flex flex-column">
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(13, 13, 13, 0.85) !important;">
      <div class="container-fluid container">
        <a class="navbar-brand fs-1" href="#">Fgarciadevelop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse = !collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="flex-grow: unset !important;" [ngClass]="collapse ? '' : 'd-flex justify-content-end'">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#about">Sobre mi</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#skills">Skills</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#projects">Proyectos</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active fs-4" href="#contact">Contactos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="col-12 d-flex flex-column content">
    
    <section id="main" class="d-flex flex-column align-items-center justify-content-center">
      <img src="../assets/fondo.webp" alt="">
      <div class="fragmento">
        <h1 class="title fs-1 fw-bold text-center">Francisco García</h1>
        <p class="fs-4 text-center">Software Engineer</p>
      </div>
    </section>
    <section id="about" class="container d-flex flex-column align-items-center justify-content-center">
      <div class="fragmento my-5">
        <div class="title fs-1 fw-bold text-center my-5">¿Quién soy?</div>
        <p class="fs-4 my-5 text-center">{{about.who}}</p>
      </div>
      <div class="fragmento my-5">
        <div class="title fs-1 fw-bold text-center my-5">¿Por qué yo?</div>
        <p class="fs-4 my-5 text-center">{{about.why}}</p>
      </div>
      <div class="buttons col-12 d-flex flex-row justify-content-around">
        <button class="btn-1">Descargar CV</button>
        <button class="btn-2">Contáctame</button>
      </div>
    </section>
    <section id="skills">
      Skills
    </section>
    <section id="projects">
      Proyectos
    </section>
    <section id="contact" class="col-12 d-flex flex-column justify-content-center">
      <div class="fragmento mb-5">
        <h1 class="title fs-1 fw-bold text-center">Contacto</h1>
      </div>
      <div class="col-12 d-flex justify-content-around align-items-center">
        <div class="d-flex flex-column align-items-center">
          <a href="tel:+34688259857">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
          <span class="fs-4 text-center text-white mt-3">Whatsapp</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a href="https://www.linkedin.com/in/fgarciadevelop/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <span class="fs-4 text-center text-white mt-3">LinkedIn</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a href="mailto:fgarciadevelop@gmail.com">
            <i class="fa-solid fa-at"></i>
          </a>
          <span class="fs-4 text-center text-white mt-3">e-mail</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a href="https://github.com/fgarciadevelop">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <span class="fs-4 text-center text-white mt-3">Github</span>
        </div>
      </div>
      <p class="fs-4 text-center text-white mt-5">Fgarciadevelop web personal de portfolio de desarrollo software. Libre uso.</p>
    </section>
    
  </div>

</div>